node_modules/
.next/
.turbo/
dist/
out/
build/

.env
.env*.local

*.log
.DS_Store

.vscode/
.idea/

prisma/migrations/**/migration.sql.bak

coverage/
.nyc_output/
.vercel
.cache/

storage/
minio-data/
.minio-data/
postgres-data/
.pgdata/
redis-data/
